.login-title {
  text-align: center;
}

.input-container {
  margin: 10px 0;
}

input {
  border: thin solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 10px 5px;
  margin: 5px 0;
  width: 100%;
}

.forgot-password {
  width: 100%;
  text-align: right;
}

.btn-login {
  margin-top: 25px;
}
